<div class="col-md-12 text-center feed_container">		
	<div class="feed">
		<div class="text-left">
			11:00AM - 2:00PM
		</div>
		<div class="text-left">
			Carlin Au
		</div>
		<div class="text-left">
			"Hey Guys, come visit me for brunch."
		</div>
		<div class="text-left">
			Location: Soho, Manhattan
		</div>
		<div class="text-left">
			Tags: Food, Brunch
		</div>
	</div>
</div>
