<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 header__links">
				<div class="float-left">
					<p class="header__title"> Happening </p>
				</div>
				<div class="float-right">
					<a class="header__button" href="/login" role="button">LOG IN</a>
					<a class="header__button" href="/" role="button">SIGN UP</a>
				</div>
			</div>
		</div>
	</div>
</div>
