<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> What's happening!? </title>

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="./feed.css">

</head>
<body>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-3 header__links">
				<div>
					<p class="header__title"> Happening </p>
				</div>
			</div>
			<div class="col-md-6 header__links">
				<input class="friend_search" placeholder="Search for friends...">
			</div>
			<div class="col-md-3 header__links">
				<div>
					<a class="header__button" href="/" role="button">LOG OUT</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="createEvent">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div><h3>Create an Event</h3></div>
			</div>
		</div>
		<form action="/create" method="post">
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputTitle">Title</label>
						<input name="title" type="text" class="form-control" id="inputTitle" placeholder="Title"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputStartTime">Start Time</label>
						<input name="startTime" type="text" class="form-control" id="inputStartTime" placeholder="Start Time"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputEndTime">End Time</label>
						<input name="endTime" type="text" class="form-control" id="inputEndTime" placeholder="End Time"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputDescription">Description</label>
						<textarea name="description" type="text" class="form-control" id="inputDescription" placeholder="Description"></textarea>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputLocation">Location</label>
						<input name="location" type="text" class="form-control" id="inputLocation" placeholder="Location"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputTags">Tags</label>
						<input name="tags" type="text" class="form-control" id="inputTags" placeholder="Tags"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input class="submit_form header__button" type="submit"></input>
			</div>
		</div>
	</form>
	</div>
</div>

</body>
</html>
