<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> What's happening!? </title>

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="./feed.css">

</head>
<body>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 header__links">
				<div class="float-left">
					<p class="header__title"> Happening </p>
				</div>
				<div class="float-right">
					<a class="header__button" href="./login.html" role="button">LOG IN</a>
					<a class="header__button" href="./main.html" role="button">SIGN UP</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="feedWrapper">
	<div class="container">
		<div class="row event_container">
			<div class="col-md-12 text-left">
				<div class="time">
					<h2>11:00AM</h2>
				</div>
				<%- include ../partials/event.ejs %>
			</div>

		</div>
	</div>
</div>


</body>
</html>
