<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ../partials/head.ejs %>
</head>
<body>

<%- include ../partials/header.ejs %>

<div class="signUp">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div>LOG IN</div>
			</div>
		</div>
		<form action="/login" method="post">
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputEmail">Email Address</label>
						<input name="email" type="email" class="form-control" id="inputEmail" placeholder="E-mail"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input name="password" type="Password" class="form-control" id="inputPassword" placeholder="Password"></input>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button class="submit_button" type="submit">Log In</button>
			</div>
		</div>
	</form>
	</div>
</div>
</body>
</html>
